<%- include("../layouts/userheader.ejs") %>

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="/img/categories/1442809583.webp">
                    <div class="categories__text">
                        <%
                        if(loggedIn)  { 
                            %>
                        <h4 id="message">Welcome <%=userData %></h4>
                        <%
                        }
                        %>
                        <style>
                         #message {
                         animation: fadeOut 3s linear forwards;
                         }

                         @keyframes fadeOut {
                         from { opacity: 1; }
                         to { opacity: 0; }
                        }

                        </style>
                        <script>
                            $(document).ready(function() {
                          setTimeout(function() {
                       $('#message').addClass('animated');
                          }, 3000);
                        });

                        </script>

                        
                        <h1 style="color:#f3f4ef"> Jersey</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                        edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="/productload?categoryid=64079957c0b7b1c45a9e1811">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cristiano_juventus_ferrari_6417.webp">
                            <div class="categories__text"  style="margin-top: 10rem;">
                                <h4 style="color:#fff">Shorts</h4>
                                <p>358 items</p>
                                <a href="/productload?categoryid=64079d51260a4b6b0f03560f">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/1068558-image11.webp">
                            <div class="categories__text" style="margin-top: 10rem;">
                                <h4 style="color:#fff">women’s</h4>
                                <p>273 items</p>
                                <a href="/productload?categoryid=6410259b660953304a421d7b">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/bangkok-thailand-february-nike-football-lauch-new-mercurial-vapor-most-famous-football-boots-designed-agility-player-209648095.jpg">
                            <div class="categories__text" style="margin-top: 10rem;">
                                <h4 style="color:#fff">Boots</h4>
                                <p>159 items</p>
                                <a href="/productload?categoryid=64079ddd260a4b6b0f035615">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/david-beckham-gq-0416-2.webp">
                            <div class="categories__text" style="margin-top: 10rem;">
                                <h4 style="color:#fff">Accessories</h4>
                                <p>792 items</p>
                                <a href="/productload?categoryid=64079df6260a4b6b0f035618">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->



<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="img/categories/_117751671_satan-shoes1.jpg" style="height: 38rem;">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span style="color: #0a0a0a;">Premium Collections</span>
                            <h1 style="color: #fff;">Home kits</h1>
                            <a  style="color: #fff;"href="/productload?subcategoryid=640853b1d4bb93d36321a56b">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span style="color: #0a0a0a;">Premium Collections</span>
                            <h1 style="color: #fff;">Boots</h1>
                            <a style="color: #fff;" href="/productload?categoryid=64079ddd260a4b6b0f035615">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span style="color: #0a0a0a;">Premium Collections</span>
                            <h1 style="color: #fff;" >Football</h1>
                            <a style="color: #fff;" href="/productload?subcategoryid=6408536cd4bb93d36321a561">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("../layouts/userfooter.ejs") %>